body {
  position: relative;
  width: 1920px;
  height: 2132px;

  background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);
}

.header {
  position: absolute;
  width: 1568px;
  height: 85px;
  left: 176px;
  top: 43px;

}

.product {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 1568px;
  height: 183px;
  right: 176px;
  top: calc(50% - 183px/2 - 725.5px);

}

.aboutus-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;

  position: absolute;
  width: 1458px;
  height: 140px;
  left: 166px;
  top: calc(50% - 160px/2 - 493px);

  font-family: 'UindbaseFont';
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  color: #FFFFFF;

}

.aboutus-photo {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  padding: 0px;
  gap: 10px;

  position: absolute;
  width: 1254.3px;
  height: 380px;
  left: 369px;
  top: 713px;

}

.connection-box {
  position: absolute;
  width: 1568px;
  height: 754px;
  left: 176px;
  top: 1153px;

}

.connection {

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 72.81%;

}

.cards-nav {

  position: absolute;
  left: 0.38%;
  right: 35.46%;
  top: 27.19%;
  bottom: 0%;
  overflow: scroll;

}

.connection-social {

  position: absolute;
  left: 80.29%;
  right: 13.51%;
  top: 69.23%;
  bottom: 28.78%;

}

.connection-tel {
  position: absolute;
  left: 75.13%;
  right: 8.4%;
  top: 55.97%;
  bottom: 40.72%;

}

.connection-mail {
  position: absolute;
  left: 73.98%;
  right: 7.29%;
  top: 62.6%;
  bottom: 34.08%;
}

.footer {
  position: absolute;
  width: 1602px;
  height: 131px;
  left: 195px;
  top: 1967px;

  background: #0B0F14;
}