body {
  position: relative;
  width: 1920px;
  height: 3328px;

  background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);
}

.clasic {
  position: absolute;
  width: 914px;
  height: 105px;
  left: 177px;
  top: 251px;

  font-family: Usually-font;
  font-weight: 700;
  font-size: 120px;
  line-height: 105px;

  text-align: center;

  color: #1F252D;

}

.clasic-btn {
  position: absolute;
  width: 205px;
  height: 53px;
  left: 599px;
  top: 1505px;

  border: 2px solid #D1C12B;
  border-radius: 50px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;

  color: #D1C12B;
  background: rgba(15, 21, 29, 0.2);
  border: 2px solid #D1C12B;
  border-radius: 50px;

  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.clasic-box-photo1 {
  position: absolute;
  width: 333px;
  height: 352px;
  left: 214px;
  top: 393px;

}

.clasic-box-photo2 {
  position: absolute;
  width: 553px;
  height: 344px;
  left: 214px;
  top: 762px;
  object-fit: cover;
}

.clasic-box-photo3 {

  position: absolute;
  width: 708px;
  height: 918px;
  left: 569px;
  top: 393px;

}

.clasic-box p {
  font-family: 'UindbaseFont';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;

  color: #FFFFFF;

}

.clasic-box-title {
  position: absolute;
  width: 784px;
  height: 100px;
  left: 548px;
  top: 1361px;
}

.clasic-box-subtitle {
  position: absolute;
  width: 268px;
  height: 50px;
  left: 214px;
  top: 1171px;
}

.clasic-box-year {
  position: absolute;
  width: 295px;
  height: 74px;
  left: 335px;
  top: 1275px;

  font-family:'Usually-font';
  font-weight: 700;
  font-size: 85px;
  line-height: 74px;

  text-decoration-line: underline;
  text-transform: uppercase;

  color: #FFFFFF;

  transform: rotate(-90deg);
}


.product{
  position: absolute;
  width: 1568px;
  height: 183px;
  right: 176px;
  top: calc(50% - 183px/2 - 11.5px);
  
}

.goods-box{
  position: absolute;
  width: 1248px;
  height: 593px;
  left: 185px;
  top: 307px;

}

.see-more{
  padding: 25px 0px;
}

.connection-box{

  position: absolute;
  width: 1568px;
  height: 754px;
  left: 176px;
  top: 2380px;
  
}

.connection{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 72.81%;

}

.cards-nav{
  position: absolute;
left: 0.38%;
right: 35.46%;
top: 27.19%;
bottom: 0%;
overflow: scroll;

}

.connection-social{
  position: absolute;
left: 80.29%;
right: 13.51%;
top: 69.23%;
bottom: 28.78%;

}

.connection-tel {position: absolute;
  left: 75.13%;
  right: 8.4%;
  top: 55.97%;
  bottom: 40.72%;
  
}
.connection-mail {
  position: absolute;
left: 73.98%;
right: 7.29%;
top: 62.6%;
bottom: 34.08%;

}

.footer {
  position: absolute;
  width: 1602px;
  height: 131px;
  left: 195px;
  top: 3197px;

  background: #0B0F14;
}