body{
  position: relative;
  width: 1920px;
  height: 3858px;
  background: linear-gradient(180deg, #0E141C 0%, #0A0F14 100%);
}

/* header style */

.header {
  position: absolute;
  width: 1568px;
  height: 85px;
  left: 176px;
  top: 43px;
}
.header-logo-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 164px;
  height: 50px;
  padding: 0px 40px 20px 0px;
  
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -14px;
}

.header-logo{
  width: 124px;
  height: 30px;

  position: absolute;
  left: 0.95%;
  right: 0.95%;
  top: 0%;
  bottom: 0%;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 50px;

  width: 831px;
  height: 50px;
  
  position: absolute;
  left: 6.64%;
  right: 40.37%;
  top: 0%;
  bottom: 41.18%;

}

.nav-link{
  font-family:"UindbaseFont",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 12px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.nav-link:hover,.gender-link:hover{
  color: #D1C12B;
}

.gender {
  display: flex;
  justify-content:space-between;
  position: absolute;
  left: 14.35%;
  right: 62.04%;
  top: 82.35%;
  bottom: 0%;
  
}

.gender-link{
  font-family:"UindbaseFont",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;


  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

}

.social {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  
  position: absolute;
  left: 93.22%;
  right: 0%;
  top: 5.29%;
  bottom: 75.88%;
  
}

/* section baner style */

.baner{
  position:absolute;
  width: 1920px;
  height: 619px;
  left: 0px;
  top: 263px;
}

.baner-logo {
  position: absolute;
  width: 209.94px;
  height: 49.94px;
  left: 912px;
  top: 263px;
}

.baner-title{
  position: absolute;
  width: 1313px;
  height: 244px;
  left: 350px;
  top: 360px;

  font-family:"Usually-font",sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 130px;
  line-height: 113px;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

}

.baner-title-bg{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 8.97%;
  bottom: 83.13%;

  font-family:"Usually-font",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 170px;
  line-height: 148px;
  text-align: center;
  text-transform: uppercase;

  color: #1F252D;

  z-index: -1;
}

.baner-slang {
  position: absolute;
  width: 211px;
  height: 25px;
  left: 904px;
  top: 621px;

  font-family:"UindbaseFont",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;

  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  text-shadow: 10px 24px 10px rgba(0, 0, 0, 0.27);

}

.btn {
  position: absolute;
  width: 205px;
  height: 53px;
  left: 1472px;
  top: 829px;

  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;

  color: #D1C12B;
  background: rgba(15, 21, 29, 0.2);
  border: 2px solid #D1C12B;
  border-radius: 50px;

  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

}

.btn:hover {
  width: 207px;
  height: 55px;
  font-size: 22px;
  transition:(0.19, 1, 0.22, 1);
}

/* section carousel style */

.carousel{
  position: absolute;
  width: 1568px;
  height: 893px;
  left: 176px;
  top: 1096px;
  
}

.carousel-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 1568px;
  height: 216px;
  left: calc(50% - 1568px/2);
  top: calc(50% - 216px/2 - 294.5px);

  width: 842px;
  height: 100px;

  filter: drop-shadow(9px 9px 4px rgba(0, 0, 0, 0.25));

  font-family:"UindbaseFont",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;

  text-transform: uppercase;

  color: #FFFFFF;

}

.carousel-title-double{
  width: 1568px;
  height: 160px;

  font-family: 'Usually-font',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 160px;
  text-transform: uppercase;

  color: #1F252D;

}

.carousel > p {
  position: absolute;
  width: 300px;
  height: 45px;
  left: 1063px;
  top: 567px;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  color: #FFFFFF;

  z-index: 1;

}

.carousel-btn{

  position: absolute;
  width: 205px;
  height: 53px;
  left: 1114px;
  top: 632px;

  border: 2px solid #D1C12B;
  border-radius: 50px;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  padding: 10px;
  gap: 10px;

  color: #D1C12B;
  background: rgba(15, 21, 29, 0.2);
  border: 2px solid #D1C12B;
  border-radius: 50px;

  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

}

.carousel-btn:hover{
  width: 207px;
  height: 55px;
  font-size: 22px;
  transition:(0.19, 1, 0.22, 1);
}
/* section product style */


.product{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 1568px;
  height: 183px;
  right: 176px;
  top: calc(50% - 183px/2 + 179.5px);

}

.product-title-double {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;

  width: 1568px;
  height: 160px;

  font-family: 'Usually-font',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 160px;
  line-height: 160px;

  text-align: right;
  text-transform: uppercase;

  color: #1F252D;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;
}


.product-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 50px 0px;

  width: 1568px;
  height: 200px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -1570px;
  z-index: 1;

}

.product-title-text{
  width: 679px;
  height: 100px;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;

  text-align: right;
  text-transform: uppercase;

  color: #FFFFFF;

  text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25);
}

/* cards style */

.goods-box{
  position: absolute;
  width: 1248px;
  height: 593px;
  left: 382px;
  top: 2228px;

}
.goods-box-cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.goods-card {
  /* position: absolute; */
  width: 272px;
  height: 461px;
  left: 9px;
  top: 0px;

  background: #10171F;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.goods-card {
  /* position: absolute; */
  width: 272px;
  height: 461px;
  left: 331px;
  top: 0px;

  background: #10171F;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.goods-card {
  /* position: absolute; */
  width: 272px;
  height: 461px;
  left: 653px;
  top: 0px;

  background: #10171F;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.goods-card {
  /* position: absolute; */
  width: 272px;
  height: 461px;
  left: 975px;
  top: 0px;

  background: #10171F;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.goods-card img {
  top: -36px;
  
  background-size: cover;
  border-radius:10px 10px 0  0;

  transform: matrix(-1, 0, 0, 1, 0, 0)
  
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  /* position: absolute; */
  width: 272px;
  height: 41px;
  left: 0px;
  top: 378px;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  color: #FFFFFF;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.block-price {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 67px;

  /* position: absolute; */
  width: 272px;
  height: 20px;
  left: 0px;
  top: 433px;

}
.price {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 0px 10px;
  
  width: 82px;
  height: 20px;
  
  flex: none;
  order: 0;
  flex-grow: 0;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  color: #FFFFFF;

}

.price-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 10px 0px 0px;
  
  width: 119px;
  height: 20px;

  flex: none;
  order: 1;
  flex-grow: 0;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  text-decoration-line: underline;
  text-transform: uppercase;

  color: #FFFFFF;
}

.price-btn:hover{
  color: #D1C12B;
}

.see-more{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 50px 0px;

  position: absolute;
  width: 1248px;
  height: 120px;
  left: 0px;
  top: 473px;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;

  text-align: right;
  text-decoration: underline;
  text-transform: uppercase;

  color: #FFFFFF;

}

.see-more:hover{
  color: #D1C12B;
  font-size: 22px;
}

.connection {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;

  position: absolute;
  width: 1568px;
  height: 754px;
  left: 176px;
  top: 2838px;
  
}


.connection-title-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 50px 0px;

  width: 1568px;
  height: 205px;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px -1600px;
  z-index: 1;


  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  text-shadow: 9px 9px 4px rgba(0, 0, 0, 0.25)

}
.connection-title-subtext {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  
  width: 1568px;
  height: 250px;

  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 0;

  font-family: 'Usually-font',sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 180px;
  line-height: 160px;

  text-transform: uppercase;

  color: #1F252D;
}

.cards-nav{
  position: absolute;
  left: 9%;
  right: 35.46%;
  top: 78.39%;
  bottom: 0%;
  
  overflow: scroll;

}
.connection-tel {
  position: absolute;
  left: 75.13%;
  right: 8.4%;
  top: 82.97%;
  /* bottom: 40.72%; */

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;

  text-transform: uppercase;

  color: #FFFFFF;

}
.connection-mail {

  position: absolute;
  left: 73.98%;
  right: 7.29%;
  top: 84.6%;
  bottom: 34.08%;

  font-family: 'UindbaseFont',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;

  text-transform: uppercase;

  color: #FFFFFF;

}

.connection-social{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 0px;
  width: 98px;
  height: 15px;

  position: absolute;
  left: 78.29%;
  right: 13.51%;
  top: 86.23%;
  bottom: 28.78%;

}

.connection-tel:hover,
.connection-mail:hover{
  color: #D1C12B;
}

/* footer style */

.footer {
  position: absolute;
  width: 1602px;
  height: 131px;
  left: 198px;
  top: 3663px;

  background: #0B0F14;
}
.footer-logo {
  position: absolute;
  left: 42.95%;
  right: 44.87%;
  top: 29.77%;
  bottom: 35.88%;

}

.footer-logo img{
  width: 195px;
  height: 45px;
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px;
  
  position: absolute;
  width: 85px;
  height: 15px;
  left: 1339px;
  top: 66px;
  
}
.footer-text{
  position: absolute;
  left: 45.38%;
  right: 52.75%;
  top: 76.34%;
  bottom: 9.92%;
  
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  color: #FFFFFF;
  

}
.footer-subtext {
  position: absolute;
  left: 48.25%;
  right: 45.94%;
  top: 76.34%;
  bottom: 9.92%;
  
  font-family: 'Rosario', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  
  color: #FFFFFF;
  
}

.footer-link1 {
  position: absolute;
  left: 12.98%;
  right: 72.33%;
  top: 41.98%;
  bottom: 44.27%;

  font-family: 'Rosario',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;

}

.footer-link2 {

  position: absolute;
  left: 12.92%;
  right: 66.02%;
  top: 58.02%;
  bottom: 28.24%;

  font-family: 'Rosario',sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #FFFFFF;

}
.footer-link1:hover,.footer-link2:hover{
  font-size: 16px;
}